:root {
    --default-size: 12px;
    --dark-green: #237e66;
    --light-green: #40bc99;
    --light-yellow: #fffef9;
    --main-font-color: #333;
    --light-font-color: #969696;
    --font-size-sm: 10px;
    --font-size-lg: 14px;
    --font-bold: 700;
    --font-normal: 400;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--default-size);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--light-yellow);
}
a[role="button"] {
    text-decoration: none;
    cursor: pointer;
}
/* utility classes */
.width-full {
    width: 100%;
}
.font-bold {
    font-weight: var(--font-bold);
}
.font-normal {
    font-weight: var(--font-normal);
}
.display-none {
    display: none;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-align-center {
    align-items: center;
}
.justify-center {
    justify-items: center;
}
.justify-start {
    justify-items: flex-start;
}
.justify-end {
    justify-items: flex-end;
}
.justify-between {
    justify-content: space-between;
}
/* end utility classes */
.content {
    padding: 0 13.3%;
}
.header {
    padding: 0.8rem 1.4rem;
}

.header-logo {
    width: 6.25rem;
}
.auto-margin {
    width: 33.3%;
}

.full-menu {
    display: flex;
}

.reduced-menu {
    display: none;
}

.btn-primary {
    padding: 1rem;
    font-size: var(--font-size-lg);
    color: var(--dark-green);
}

.about-view {
    background-image: url("/content/Dan-Headshot.png");
    min-height: 52rem;
}

.contact {
    margin-left: 1rem;
    border-radius: 0.4rem;
    border: solid 0.08rem var(--dark-green);
    color: var(--light-yellow);
    background-color: var(--dark-green);
    transition: all 0.3s ease;
}
.contact:hover {
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 5p1
    .header {
        margin: 0;
    }
    .full-menu {
        display: none;
    }
    .reduced-menu {
        display: flex;
    }
}